.container .container-fornecedor form {
    width: 100%;
}
  
.container .container-fornecedor button{
      /* flex:1; */
      margin-top: 10px !important;
      line-height: 10px;

    }

    .container .container-fornecedor form input{
    margin-top: 10px;
}

.container .container-fornecedor header{
    width: 450px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
}
.container .container-fornecedor p{
    margin-top: 25px;
}

