.container-dashboard .content{
    width: 100%;
    margin: 50px auto;   
}
.container-dashboard .content .bots{
    display: flex;
    flex-flow: inherit;
}
.container-dashboard .content .view{
    display: flex;
    flex-flow: inherit;
}
.container-dashboard .content .min-100{
    
    width: 200px;
    background: #fafafa;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    padding-top: 30px;
    flex:auto;
    margin-left: 10px;
    /* -webkit-box-shadow: 2px 3px 20px -3px rgba(0,0,0,0.57); 
box-shadow: 2px 3px 20px -3px rgba(0,0,0,0.57); */
 
}

.container-dashboard .content .link {
    color: black;
    text-decoration: none;
    width: 200px;
    background: rgba(200,250,200,0.4);
    height: 60px;
    border-radius: 5px;
    border: 1px solid rgba(100,100,100,0.5);
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    margin-top: 10px;
    flex:auto;
    margin-left: 10px;
    font-weight: bold;
    transition: filter 0.2s;
}
.container-dashboard .content .text {
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding-top: 0;
    

}
.container-dashboard .content .title {
    font-size: 25px;
    font-weight: bold;
    padding-top: 0;
}

.container-dashboard .content .link:hover{
    filter: brightness(80%)
}