.sidebar-container {
    box-shadow: 5px 5px 10px rgb(221, 221, 221);   
    height: 100vh;
    width: 100%;    
    display: flex;
  }

  .sidebar-container .sidebar{
    padding: 0 0px 0px 0px;
    width: 200px;
    background: rgba(200,200,200,0.3);
    text-decoration: none;
    -webkit-box-shadow: 1px 3px 16px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 3px 16px 1px rgba(0,0,0,0.4);
  box-shadow: 1px 3px 16px 1px rgba(0,0,0,0.4);
  }

  .sidebar-container .sidebar .header{
    line-height: 60px;
    text-align: center;
    width: calc(100% - 5px);
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #505050;
    margin-bottom: 10px;
  }

  .sidebar-container .content{
  /* margin-right: 250px; */
 flex: 1;
 
}

.sidebar  label.title {
     margin: 1rem 0;
     text-align: center;
     font-weight: bold;
     font-size: 20px;
     display: block;
     
  }

  .sidebar-container .sidebar .link{
    padding: 10px;
    margin: 0 3px;
    font-size: 16px;
    text-decoration: none;
    display: block;
    transition: background 0.5s; 
    color:#000
  }

  .sidebar-container .sidebar .link:hover{
    color: #ffffff;
    background: rgba(0,0,0,0.4);
    border-radius: 3px;
    margin: 0 3px;
   
  }
  


