.container-saida .content form {
    width: 100%;
    max-width: 450px;

    margin: 20px auto;
}

.container-saida .content .line{
    display: flex;
    flex-direction: row;
}

.container-saida .content .line input{
  flex: 3;
}

.container-saida .content .line select{
    flex:2;
  }

.container-saida .content form input {
    margin-top: 10px;
}

.container-saida .content form select {
    margin-top: 10px;
    overflow-y:auto;
}

.container-saida .content header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-weight: 700;
    font-size: 28px;
}